#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  margin-top: 65px; /* Adjust based on header height */
  margin-bottom:90px; /* Adjust based on footer height */
  overflow-y: auto;
  padding: 1rem;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 1em;
  z-index: 100;
}


.close {
  color: #1a1a1a;
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
  font-weight: bold;
  margin-left: 16px;
  cursor: pointer;
}

.close:hover{
  transition: color 0.3s;
  color: rgba(182,5,14,0.51)
}

.card {
  padding: 2em;
}

.form-container {
  background-color: darkslategray;
  padding: 0.5em 1.5em 0.7em 0.5em;
  border-radius: 1.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 480px;
  width: 100%;
  margin: auto;
  gap: 1em;
  top: 1em;
  margin-top: 65px;
  position: relative;
}

.form-container input[type="text"],
.form-container input[type="string"] {
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 12px; /* Increased border-radius for more rounded edges */
  border: 1px solid #ccc;
  font-size: 1em;
  display: flex;
  justify-content: space-evenly;
}

.label-input-container {
  display: flex; /* Use flexbox to align label and input horizontally */
  align-items: center; /* Align the content vertically center */
justify-content: flex-end;
  margin-bottom: 15px; /* Space below the pair */
}
.form-container label {
  font-weight: bold;
  color: lightgray;
}

.form-content {
    margin-top: 10px;
  padding-right: 2em/* Adjust margin to ensure content doesn't overlap with button */
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  /* Aligns the search bar to the right */
}

.search-bar input[type="search"] {
  width: 35%;
  padding: 8px;
  border-radius: 14px;
  border: 1px solid #ccc;
  font-size: 1em;
}